@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
  z-index: 20;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: center;
}

header.active {
  @apply bg-white;
  @apply ease-in;
}

ul {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 500;
  width: 100%;
}

ul.active {
  @apply text-black;
}

h3 {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 500;
}

h3.active {
  @apply text-black;
}
