@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.underline {
  text-decoration-color: #08d9d6;
}

header {
  z-index: 20;
  width: 100%;
  justify-content: center;
  background-color: rgba(32, 34, 37, var(--tw-bg-opacity));
  display: flex;
  align-items: center;
  border-bottom: 4px solid #08d9d6;
}

.about {
  display: flex;
  align-self: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 6rem 0;
  text-decoration: underline;
  text-decoration-color: #08d9d6;
  /* self-center text-5xl font-semibold my-20 md:my-28 underline */
}

.about.active {
  @apply mt-48;
}

header.active {
  @apply bg-discordTheme-darkest;
  @apply ease-in;
  @apply text-main-white;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 500;
  width: 100%;
}

ul.active {
  @apply text-main-white;
}

h3 {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 500;
}

h3.active {
  @apply text-main-white;
}
